/* Modal Component Styles */

.dialogPaper {
  border-radius: 16px;
  min-height: 400px;
}

.dialogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleText {
  font-weight: 600;
}

.closeButton {
  color: #717171;
}

.dialogContent {
  padding-bottom: 24px;
}
